body {
	width:  960px;
	margin: 0 auto;	
	font-family: arial;
    
}

button {
	background-color: transparent;
	border: none;
}

.input_parent {
	position: relative;
}

.form {
	padding-top: 30px;
	border: 1px solid #dce3ea;
	border-radius: 10px 10px 10px 10px;
}

.header {
	background-color: #3e4757;
	height: 88px;
	border-radius: 10px 10px 0 0;
}

.header__title {
	margin: 0;
	color: white;
	text-align: center;
	padding: 30px;
	font-family: CALIBRI;
	font-size: 24px;
	font-weight: 100;
}

.label, .label-phone {
    font-size: 19px;
    position: absolute;
    left: 26px;
    top: 50%;
    transform: translateY(-50%);
    transition: 1s;
    color: grey;
}



.label, .label-phone {
    font-size: 19px;
    position: absolute;
    left: 26px;
    top: 50%;
    transform: translateY(-50%);
    transition: 1s;
    color: grey;
}

input:focus + .label {
	font-size: 14px;
	transition: 1s;
	top: 30%;
}




.form input {
	border-radius: 5px;
	background-color: #eef2f7;
	border: 1px solid #dce3ea;
	max-width: 610px;

}

.form__save_number-input {
	width: 20px;
	height: 20px;
	margin: 0;
	margin-right: 15px;
	cursor: pointer;
}

.form__label {
	cursor: pointer;	
}

.form__agree_conditions {
	display: none;
}

.form__save_number-text {
	margin: 0;
}

.form__citizenship {	
	max-width: 610px;
	margin: 30px auto;
	padding-bottom: 30px;
	margin-bottom: 0;
}

.form__region, .form__name, .form__country, .form__postcode, .form__appointment_region, .form__district_or_city, .form__settlement, .form__street, .form__comment {
	max-width: 610px;
	margin: 30px auto;	

}

.form__region-input, .form__name-input, .form__country-input, .form__postcode-input, .form__appointment_region-input, .form__district_or_city-input, .form__settlement-input, .form__street-input, .form__comment-input  {
	width: 100%;
	padding: 25px;
	padding-top: 30px;
	padding-bottom: 9px;
	display: block;
	box-sizing: border-box;
	padding-bottom: 12px;
    padding-top: 48px;
    font-size: 19px;
}



.form__wrapper-note {
	width: 302px;
}

.form__request-submit {
	width: 302px;
	padding: 0;
}

.form__wrapper-next input {
	background: #ffdd2d;
	border: none;
}

.form__citizenship-input {
	width: 610px;
	border-radius: 5px;
	background-color: #eef2f7;
	padding: 25px;
	border: 1px solid #dce3ea;
	cursor: pointer;
}

.form__phone, .form__email { 
	max-width: 302px;
}

.form__phone-input, .form__email-input {
	padding: 25px;
	box-sizing: border-box;
	padding-right: 105px;
}

.form__house, .form__building, .form__edifice, .form__flat {
	max-width: 150px;
}

.form__house-input, .form__building-input, .form__edifice-input, .form__flat-input {
	width: 150px;
	padding: 25px;
	box-sizing: border-box;
}


.form__date, .form__time {
	max-width: 302px;
	margin-bottom: 0;
}

.form__date-input, .form__time-input {
	width: 302px;
	border-radius: 5px;
	background-color: #eef2f7;
	padding: 25px;
	border: 1px solid #dce3ea;
	cursor: pointer;	
	box-sizing: border-box;
}



.form__save_number-wrapper {
	margin: 30px auto;
	margin-bottom: 13px;
	display: flex;
    align-items: center;
}

.form__save_number {
	max-width: 610px;
	margin: 30px auto;
}


.form__wrapper {
    display: flex;
    justify-content: space-between;
    margin: 30px auto;
    max-width: 610px;
}


.form__condition-input, .form__condition-text, .form__next-btn {
	margin: 0 auto;
}

.form__condition-input {
	width: 20px;
	height: 20px;
}

.form__next_btn {
	padding: 25px;
    border-radius: 5px;
    width: 206px;
    border-style: none;
    background: #ffdd2d;
    cursor: pointer;
}

.form__wrapper-next {
	border-top: 1px solid #dce3ea;
	border-bottom: 1px solid #dce3ea;
	border-radius: 0 0 5px 5px;
	margin: 0;
	padding: 30px 18.5% 30px 18.5%;
}

.condition {
	display: flex;
    align-items: center;
}

.condition__button {
	background-color: white;
	border-style: none;
	color: #74a3c7;
	cursor: pointer;
}

.condition__checkbox {
	width: 20px;
	height: 20px;
	margin-right: 15px;
}

.form__title {
	max-width: 612px;
	margin: 0 auto;
	margin-top: 30px;
}

.appointment {
	margin-top: 90px;
}

.appointment__title, .appointment__info, .bring-info__title, .bring-info__subtitle {
	text-align: center;
	margin: 30px auto;
}

.bring-info__title {
	margin-top: 130px;
}

.appointment__info {
	padding-top: 0;
	padding-bottom: 60px;
	border-bottom: 1px solid #dce3ea;
	line-height: 1.3;
}

.bring-info {

}

.bring-info__wrap {
	margin: 0 auto;
	width: 70px;
}

.bring-info__learn_more {
	border: none;
    padding: 0;
    background: none;
    color: #74a3c7;
    cursor: pointer;
}

.bring {
	border: 1px solid #dce3ea; 
	margin-top: ;
}

.bring-info__learn_more-text {
	max-width: 700px;
	max-height: 80px;
	margin: 30px auto;
}

.form_bring {
	max-width: 700px;
	height: 222px;
	margin: 0 auto;
}

.form__wrapper-bring {
	max-width: 700px;
}

.form_bring__wrapper {
	display: flex;
	justify-content: space-between;
	margin-bottom: 60px;
	max-width: 700px;
}

.form__friend_phone-input, .form__friend_name-input {
	width: 346px;
    border-radius: 5px;
    background-color: #eef2f7;
    padding: 25px;
    border: 1px solid #dce3ea;
    cursor: pointer;
}

.form__invite-submit {
	width: 206px;
    border-radius: 5px;
    background-color: #ffdd2d;
    padding: 25px;
    border: 1px solid #dce3ea;
    cursor: pointer;
}

.thank_you {
	max-width: 206px;
	margin: 0 auto;
}


.thank_you__title {
	margin-bottom: 30px;
	text-align: center;
}

.thank_you__more_btn {
	margin: 0 auto;
	width: 206px;
    border-radius: 5px;
    background-color: #ffdd2d;
    padding: 25px;
    border: 1px solid #dce3ea;
    cursor: pointer;
    margin-bottom: 30px;
}

.form__agree_conditions-title {
	text-align: center;
}

.form__agree_conditions-list {
	list-style: none;
	line-height: 2;
}

.form__agree_conditions-list li::before {
    content: "";
    display: inline-block;
    border: 5px solid #ffdd2d;
    border-radius: 50%;
    margin-right: 15px;
    padding: 1px;

}

/*.input_close_btn {
	background: #8e8e8e;
	height: 15px;
	width: 15px;
	position: absolute;

	transform: translateY(-50%) rotate(45deg);
	cursor: pointer;
}
*/
.input_close_btn{

    position: absolute;
    right: 20px;
	top: 50%;
    width: 15px;
    height: 15px;
    cursor: pointer;
    border-radius: 50%;
}

.input_close_btn:before,
.input_close_btn:after {
    content: "";
    position: absolute;
	width: 20px;
    height: 1px;
    background: #8e8e8e;
}

.input_close_btn:before {
    webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.input_close_btn:after {
    webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);

   }

.popup__close_btn {

    position: absolute;
    right: 20px;
	top: 50%;
    width: 15px;
    height: 15px;
    cursor: pointer;
    border-radius: 50%;
}

.popup__close_btn:before,
.popup__close_btn:after {
    content: "";
    position: absolute;
	width: 20px;
    height: 1px;
    background: #8e8e8e;
}

.popup__close_btn:before {
    webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.popup__close_btn:after {
    webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);

   }

.popup__close_btn-wrapper {
	display: flex;
    justify-content: flex-end;
    position: relative;
}



