body {
	width:  960px;
	margin: 0 auto;	
	font-family: arial;    
}

button, 
select,
input {
	background-color: transparent;
	border: none;
	font-family: calibri;
	outline: none;
}

input::-webkit-input-placeholder {
  font-size: 0;
}

input.is-active-placeholder::-webkit-input-placeholder {
  font-size: 19px;
  font-family: calibri;
}

input:focus + .label, 
.form__input-up + .label {
	font-size: 14px;
	transition: 1s;
	top: 30%;
}

.form input {
	border-radius: 5px;
	background-color: #eef2f7;
	border: none;
	max-width: 610px;
}

.error-border,
.error-border:hover {
	box-shadow: 0 0 0 1px red;
}

.input-parent, 
.condition {
	position: relative;
}

.input-error,
.input-error__checkbox {
	color: red;
    position: absolute;
    top: 70px;
    font-family: calibri;
    font-size: 14px;
    width: inherit;
}

.input-error__checkbox {
	top: 55px;
}

.application-form {
	border: 1px solid #dce3ea;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

.header {
	background-color: #3e4757;
	height: 81px;
	border-radius: 10px 10px 0 0;
}

.header__title {
	margin: 0;
	color: white;
	text-align: center;
	padding: 30px;
	font-family: CALIBRI;
	font-size: 24px;
	font-weight: 100;
	margin-top: 50px;
}

.label-phone {
    font-size: 14px;
    position: absolute;	
    top: 50%;
    transform: translateY(-50%);
    transition: 1s;
    color: grey;
    width: 100%;	
	padding: 9px 25px 36px 25px;
	pointer-events: none;
}

.label-select {
    font-size: 14px;
    position: absolute;
    top: 15%;
    color: grey;
    left: 4.8%;
    pointer-events: none;
}

.label {
    font-size: 19px;
    position: absolute;
    left: 26px;
    top: 50%;
    transform: translateY(-50%);
    transition: 1s;
    color: grey;
    pointer-events: none;
    font-family: CALIBRI;
}

.pseudo-hover:hover,
.pseudo-hover:hover {	
	box-shadow: 0 0 0 1px #dbd9d9;
}

.pseudo-hover:focus,
.pseudo-hover:focus {
	background: white;
	box-shadow: 0 0 0 1px #c4c4c4;
}

.form__fill-short-app-input {
	width: 20px;
	height: 20px;
	margin: 0;
	margin-right: 15px;
	cursor: pointer;
}

.form__label {
	cursor: pointer;	
}

.form__agree-conditions {
	display: none;
}



.form__save-number-text {
	margin: 0;
}

.form__citizenship {	
	max-width: 610px;
	margin: 30px auto;
	padding-bottom: 30px;
	margin-bottom: 0;
	position: relative;
}

.form__region, 
.form__name, 
.form__country, 
.form__postcode, 
.form__appointment-region, 
.form__district-or-city, 
.form__settlement, 
.form__street, 
.form__comment,
.form__phone,
.form__email {
	max-width: 610px;
	margin: 30px auto;	
}

.form__country {
	margin-top: 0px;
}



.form__region-input, 
.form__name-input, 
.form__country-input, 
.form__postcode-input, 
.form__appointment-region-input, 
.form__district-or-city-input, 
.form__settlement-input, 
.form__street-input, 
.form__comment-input,
.form__phone-input, 
.form__email-input  {
	width: 100%;
	display: block;
	box-sizing: border-box;
    padding: 36px 25px 9px 25px;
    font-size: 19px;
    height: 100%;		
}

.form__country,	
.bring-info__learn_more-text {
	display: none;
}

.input-error:empty {
	display: none;
}

.form__wrapper-note {
    max-width: 234px;
    margin-right: 66px;
}

.form__request-submit {
	width: 302px;
	padding: 0;
	font-size: 19px;
}

.form__wrapper-next input {
	background: #ffdd2d;
	border: none;
}

.form__citizenship-input {
	width: 610px;
	border-radius: 5px;
	background-color: #eef2f7;
	padding: 36px 25px 9px 25px;
	border: none;
	cursor: pointer;
	font-size: 19px;
}

.form__recall {
	display: none;
}



.form__house, 
.form__building, 
.form__edifice, 
.form__flat {
	max-width: 150px;
}

.form__house-input, 
.form__building-input, 
.form__edifice-input, 
.form__flat-input {
	width: 150px;
	padding: 36px 25px 9px 25px;
	box-sizing: border-box;
	font-size: 19px
}

.form__date, 
.form__time {
	max-width: 302px;
	margin-bottom: 0;
}

.form__date-input, 
.form__time-input {
	width: 302px;
	border-radius: 5px;
	background-color: #eef2f7;
	padding: 36px 25px 9px 25px;
	border: none;
	cursor: pointer;	
	box-sizing: border-box;
	font-size: 19px;
}

.form__time-input {
	padding-left: 20px;
}

.form__friend-phone-input, 
.form__friend-name-input {
	width: 298px;
    border-radius: 5px;
    background-color: #eef2f7;
    padding: 35px 20px 9px 25px;
    border: none;
    font-size: 19px;
    font-family: calibri;
}

/*.display-none {
	display: none;
}

.display-block {
	display: block;
}*/



.form__save-number-wrapper {
	margin: 30px auto;
	margin-bottom: 13px;
	display: flex;
    align-items: center;
}

.form__save-number {
	max-width: 610px;
	margin: 30px auto;
}

.form__wrapper {
    display: flex;
    justify-content: space-between;
    margin: 30px auto;
    max-width: 610px;
}

.form__condition-input, 
.form__condition-text {
	margin: 0 auto;
}

.form__condition-input {
	width: 20px;
	height: 20px;
}

.form__next-btn {
	padding: 22px;
    border-radius: 5px;
    width: 206px;
    border-style: none;
    background: #ffdd2d;
    cursor: pointer;
    font-size: 19px;
}

.thank-you__more-btn:hover,
.form__invite-submit:hover,
.form__next-btn:hover {
	background: #f4d01b;
	transition: 0.5s;
}

.form__next-btn:focus {
	outline: none;
}

.form__wrapper-next {
	border-top: 1px solid #dce3ea;
	border-radius: 0 0 5px 5px;
	margin: 0 auto;
	padding: 30px 18.5% 30px 18.5%
}

.condition {
	display: flex;
    align-items: center;
    font-size: 14px;
}

.condition__button {
	background-color: white;
	border-style: none;
	color: #74a3c7;
	cursor: pointer;
	font-size: 17px;
}

.thank-you__more-btn:focus,
.form__invite-submit:focus,
.condition__button:focus {
	outline: none;
}

.condition__button:hover {
	color: #207bc0;
}

.condition__checkbox {
	width: 20px;
	height: 20px;
	margin-right: 15px;
	margin-left: 0px;
}

.condition__label {
	cursor: pointer;
}

.form__title {
	max-width: 612px;
	margin: 0 auto;
	margin-top: 30px;
	font-family: calibri;
	font-size: 30px;
	font-weight: 100;
	color: #5b5b5b;
	letter-spacing: -1px;
}

.appointment {
	margin-top: 90px;
	border: 1px solid #dce3ea;
	border-radius: 5px 5px 5px 5px;
}

.appointment-end {
	margin: 30px auto 30px auto;
	text-align: center;	
}

.appointment-end__info, 
.bring-info__title, 
.bring-info__subtitle {
	text-align: center;
	margin: 30px auto;
	margin-top: 0;
}

.bring-info__subtitle {
	color: grey;
	margin-bottom: 15px;
}

.bring-info__title {
	margin-top: 130px;
	font-family: calibri;
	font-weight: 400;
	font-size: 24px;
	margin-bottom: 15px;
}

.bring-info__title-ruble {
	font-size: 23px;
}

.appointment-end__info {
	padding-top: 0;
	padding-bottom: 60px;
	border-bottom: 1px solid #dce3ea;
	line-height: 1.3;
	color: grey;
	margin-top: 30px;
}

.bring-info {

}

.bring-info__wrap {
	margin: 0 auto;
	width: 70px;
}

.bring-info__learn-more {
	border: none;
    padding: 0;
    background: none;
    color: #74a3c7;
    cursor: pointer;
    font-size: 18px;
    border-bottom: 1px #74a3c7 dashed;
}

.bring-info__learn-more:focus {
	outline: none;
}

.bring {
	border: 1px solid #dce3ea; 
	margin-top: ;
}

.bring-info__conditions {
	text-decoration: none;
	color: #74a3c7;
}

.bring-info__conditions:focus {
	background: #ffdd2d;
}

.bring-info__learn_more-text {
	max-width: 700px;
	margin: 0 auto;
	font-size: 14px;
	font-family: calibri;
	color: grey;
}

.bring-info__learn-more-text {
	max-width: 700px;
	max-height: 80px;
	margin: 30px auto;
}

.form-bring {
	max-width: 700px;
	height: 222px;

	margin: 0 auto;
	margin-top: 30px;
}

.form__wrapper-bring {
	max-width: 700px;
}

.form-bring__wrapper {
	display: flex;
	justify-content: space-between;
	margin-bottom: 60px;
	max-width: 700px;
}

.form__invite-submit {
	width: 206px;
    border-radius: 5px;
    background-color: #ffdd2d;
    padding: 22px 25px 22px 25px;
    border: 1px solid #dce3ea;
    cursor: pointer;
    font-size: 19px;
    font-family: calibri;
}

.thank-you {
	max-width: 206px;
	margin: 0 auto;
}


.thank-you__title {
	margin-bottom: 30px;
	text-align: center;
	font-family: calibri;
    font-weight: 400;
    font-size: 24px;
}

.thank-you__more-btn {
	margin: 0 auto;
	width: 206px;
    border-radius: 5px;
    background-color: #ffdd2d;
    padding: 22px 24px 22px 24px;
    border: 1px solid #dce3ea;
    cursor: pointer;
    margin-bottom: 30px;
	font-family: calibri;
    font-weight: 100;
    font-size: 19px;    
}

.poput__condition-wrap {
	background: #fffef4;
	max-width: 750px;
	margin: 0 auto;
	height: 1000px;
}

.form__agree-conditions-title {
	text-align: center;
	font-family: calibri;
	font-size: 50px;
    line-height: 54px;
    font-weight: 200;
    letter-spacing: -1px;
}

.form__agree-conditions-list {
	list-style: none;
	line-height: 2;
}

.form__agree-conditions-list li::before {
    content: "";
    display: inline-block;
    border: 5px solid #ffdd2d;
    border-radius: 50%;
    margin-right: 15px;
    padding: 1px;

}

.input-close-btn {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px 20px 10px 0px;
    cursor: pointer;
    border-radius: 50%;
    display: none;
}

.input-close-btn:before,
.input-close-btn:after {
    content: "";
    position: absolute;
	width: 20px;
    height: 1px;
    background: #8e8e8e;
}

.input-close-btn:before {
    transform: rotate(45deg);
}

.input-close-btn:after {
    transform: rotate(-45deg);
}

.popup__close-btn {
    position: absolute;
    top: 50%;
    padding: 11px 29px 12px 0px;
    cursor: pointer;
    border-radius: 50%;
}

.popup__close-btn:before,
.popup__close-btn:after {
    content: "";
    position: absolute;
	width: 30px;
    height: 1px;
    background: #8e8e8e;
}

.popup__close-btn:before {
    transform: rotate(45deg);
}

.popup__close-btn:after {
    transform: rotate(-45deg);

}

.popup__close-btn-wrapper {
	display: flex;
    justify-content: flex-end;
    position: relative;
}

.appointment-end__title {
	font-family: calibri;
	margin-bottom: 0px;	
	font-size: 30px;
    font-weight: 100;
}

.appointment-end__wrap {
	height: 60px;
	position: relative;
}

.appointment-end__wrap:before {
	content: "✔";
	color: green;
	font-size: 30px;
	display: inline-block;
    line-height: 2;	
	background: #e0f3e3;
	width: 60px;
	height: 60px;
	border-radius: 50px;
	position: relative;
    margin: 0 auto;
}

.popup {
	display: none;
}

.modal {
	padding-top: 30px;
    position: fixed;
    top: 0;
    background: white;
    width: 960px;
    font-size: 17px;
    line-height: 24px;
    height: 100%;
    overflow: auto;
}




